
  
  .swatchParent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .swatch {
    /* display: flex; */
    /* flex-wrap: wrap; Allow items to wrap to the next row */
    /* justify-content: space-between; Distribute items evenly along the main axis */
    /* align-items: stretch; Stretch items to fill the container's cross-axis */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 1em;
    max-width: 1000px;
}
